/Bitdefender_W11
/bitversao.txt
/Chamado.html
/d.txt
/dnsbloqueio.txt
/GCO
/GCO.WS
/GERET.rdp
/hosts
/ingressar hosts.bat
/login.html
/logo.png
/Novo(a) Documento de Texto.txt
/OFFICE  2013 SEJUS
/outros
/pen
/RebootRestoreRx3
/RebootRestoreRx3.zip
/Reiniciar Computador.xml
/remover citrix.bat
/RevoUninstaller_Portable
/RevoUninstaller_Portable.zip
/script.js
/sdas.pdf
/setupdownloader_[aHR0cHM6Ly9jbG91ZC1lY3MuZ3Jhdml0eXpvbmUuYml0ZGVmZW5kZXIuY29tL1BhY2thZ2VzL0JTVFdJTi8wL2NGT3FieC9pbnN0YWxsZXIueG1sP2xhbmc9cHQtQlI=].exe
/sitaf
/styles.css
/teas.pdf
/teste.html
/Thumbs.db
/Zeus